<%= render 'components/banner' %>
<div class="wrapper-main">
  <%= render 'components/search-bar' %>

  <% @repos.each do |repo|%>
    <%= render 'components/repos_list', repo: repo %>
  <% end %>
</div>
