<div id="new-post" class="">
    <div class="new-post-wrapper">
      <div class="form-group">
        <h1>A request has been sent to the repository owner!</h1>
      </div>
      <div class="new-post-buttons">
        <button type="button" class="btn btn-danger" id="btn-new-post-cancel">Nice!</button>
      </div>
  </div>
</div>

<div class="wrapper-main">
    <!-- Search form -->
  <input class="form-control" type="text" placeholder="Search" aria-label="Search">

  <%= render 'components/single-repo', repo: @repo %>

  <%= render 'components/owner_card', repo: @repo %>

  <!-- Checks if current_user is owner or has any kind of collaboration (accepted or pending) -->
  <% if current_user.id != @repo.user_id and !@users.include? current_user %>
    <%= render 'components/join-card', users: @all_users %>
  <% end %>

  <h4>Current collaborators for this repository:</h4>

    <% @users.each do |user| %>
      <%= render 'components/collab_list', collab: user %>
    <% end %>


</div>

