<div class="collab">
  <img class="post-avatar" src="<%= collab.avatar %>">
  <div class="collab-name">
    <h3><strong><%= collab.nickname %><strong></h3>
    <p><%= collab.name %></p>
  </div>
</div>
