<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="collaborators-wrapper">
        <div class="collaborators-left">
          <div class="small-avatar" style="background-image: linear-gradient(-45deg, rgba(150,150,150,0.3) 0%, rgba(56,53,48,0.3) 33%, rgba(77,72,61,0.3) 51%, rgba(56,53,48,0.3) 93%, rgba(66,63,54,0.3) 100%), url(<%= asset_path('monkey_1.jpg')%>);">
          </div>
        </div>
        <div class="collaborators-info">
          <div class="collaborators-name">
            <h4><%= collab.name %></h4>
          </div>
          <div>
            <%= collab.nickname %>
          </div>
        </div>
        <% if collab == current_user %>
          <div class="collaborators-right">
            <div class="collaborators-leave">
              <%= link_to 'Leave Collaboration', end_collaboration_path(repo_id: repo, user_id: current_user.id), method: :delete, :class => "btn btn-danger btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
