body {
  margin-top: 160px!important;
}

.form-control {
    border: none!important;
    border-radius: 0px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
    border-bottom: 1px solid #f1f1f1!important;
}

.panel{
  border: none!important;
  box-shadow: none!important;
}
