.single-repo-right{
  display: flex;
  flex: 0 1 200px;
  text-align: left;
}

.single-repo-wrapper{
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

.single-owner-wrapper{
  justify-content: space-between;
  display: flex;
}

.repo-tags{
  display: block;
  width: 100%;
}

.single-owner-wrapper .post-info {
  margin-left: 50px;
}
