.collaborators-wrapper{
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid #f1f1f1;
  margin-top: 15px;
}

.collaborators:last-child {
  border-bottom: none;
}

.collaborators-left{
  display: flex;
}

.collaborators-info{
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  margin-left: 50px;
}

.collaborators-name{
  display: block;
  width: 100%;
}

