.join-wrapper{
  justify-content: space-between;
  content-align: center;
  display: flex;
  padding: 15px 0px;
}

.join-left{
  display: flex;
}

.join-right{
  display: flex;
}

.join-info{
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  margin-left: 50px;
}

.join-name{
  display: block;
  width: 100%;
}
