.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
}

.header-content{
  display: flex;
  flex: 1 1 100%;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center;
}

.header-navigation{
  list-style: none;
}

.header-navigation li{
  display: inline-block;
  margin-right: 15px;
}


#logo{
  flex: 1 0 70px;
  width: 70px;
  height: 70px;
  background-color: $red;
  display: flex;
  margin: 25px;
  border-radius: 35px;
  background-size: cover;
}

#avatar{
  flex: 1 0 70px;
  width: 70px;
  height: 70px;
  display: flex;
  margin: 25px;
  border-radius: 35px;
  background-size: cover;
}
