/*Repos*/
.repo-show-wrapper{
  justify-content: space-between;
  display: flex;
}

.single-repo-wrapper{
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid #f1f1f1
}

.repo-left{
  display: flex;
}

.repo-right{
  display: flex;
  flex: 0 1 200px;
  text-align: center;
}

.repo-info{
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  margin-left: 50px;
}

.repo-name{
  display: block;
  width: 100%;
}

.repo-name h3{
  margin: 5px 25px 25px 0px;
}

.repo-description{
  display: block;
  width: 100%;
}

.repo-right ul{
  list-style: none;
  color: #666;
}

