// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/body";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "pages/index";
@import "components/footer";


// Css components
@import "components/navbar";
@import "components/repos-list";
@import "components/collaborators-list";
@import "components/images";
@import "components/join";
@import "components/banner";

// Show
  // Div collabs
@import "components/collabs";

  //owner for single repo show
@import "components/owner";

@import 'layouts/my_repos';
